/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/*  top-wrapperコート一覧*/
.top-wrapper{
  background-image:url(https://prog-8.com/images/html/advanced/top.png);
  background-size:cover;
  margin:0 auto;
  padding-top:180px;
  padding-bottom:100px;
  text-align:center;

}


.container{

  padding:0 15px;
  color:white;

  width:1170px;
}

.container h1{
  opacity:0.7;
  font-size:45px;
  font-weight:bold;
  Letter-spacing:5px;

}

.container p{
  opacity:0.7;
}


.signup {
  background-color: #239b76;
  opacity:0.8;
  margin-top:30px;

  margin-bottom:15px;
}

.facebook{
  background-color:#3b5998;
  opacity:0.8;
  margin-right:10px;
  margin-top:15px;
}

.twitter{
  background-color:#55acee;
  opacity:0.8;
   margin-top:15px;
}

.btn{
  color:white;
  padding:8px 24px;
  border-radius: 4px;
  display: inline-block;
}

.btn:hover{
  opacity:1;
}
